code .gitignore
```

And paste this in and save:
```
# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Build outputs
dist/
build/

# Expo
.expo/
apps/mobile/.expo/

# OS files
.DS_Store
Thumbs.db

# firebase API Keys
VITE_FIREBASE_API_KEY=REMOVED
VITE_FIREBASE_AUTH_DOMAIN=ratecache-34a84.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ratecache-34a84
VITE_FIREBASE_STORAGE_BUCKET=ratecache-34a84.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=56464029138
VITE_FIREBASE_APP_ID=1:56464029138:web:f02f7b117a30dc2536840b